#hero-banner{
    background-image: url(../../aboutme/images/me.jpg);
    /* alt tag = image of the writer of the website */
    width: 20%;
    height: 100%;
}
#hero-img{
    display: none;
}

.footer-card{
    width: 200px;
    color: orange;
}
.footer-card a:hover, a:visited{
    color: orange;
}